<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="933409cf-6a6f-45fa-a384-44e46089d32d" Alias="containerComposition" Level="4">
  <Info>
    <Name>#Compositions_ContainerCompositionName</Name>
    <Icon>icon-box-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Container represents a Tree Node that groups "Content" of other Types undes a single node</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions/Model+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>