<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11ed6332-0eb4-4fac-a7ef-8f77532f556e" Alias="footerNavigationComposition" Level="2">
  <Info>
    <Name>#FooterNavigation_CompositionName</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8905c542-4bfe-4365-9cd6-dc4c9227c780</Key>
      <Name>#FooterNavigation_ShowInFooter</Name>
      <Alias>showInFooter</Alias>
      <Definition>84241244-9e72-4a45-ab90-08da4d179fab</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="#Tabs_FooterNavigation">#Tabs_FooterNavigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>25e05431-38da-4e62-9ff1-878a27b3acae</Key>
      <Caption>#Tabs_FooterNavigation</Caption>
      <Alias>#Tabs_FooterNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>