<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24e230da-1df7-46d3-a6c9-fc1104eb8be9" Alias="googleAnalyticsDocument" Level="4">
  <Info>
    <Name>#GoogleAnalytics_DocumentName</Name>
    <Icon>icon-google-fill color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions/Integrations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c33212d-bb5b-40e5-afda-841e1cc78100</Key>
      <Name>#GoogleAnalytics_AnalyticsTrackingCodePropertyName</Name>
      <Alias>analyticsTrackingCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#GoogleAnalytics_AnalyticsTrackingCodePropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="googleAnalyticsSettingsTabName">#GoogleAnalytics_SettingsTabName</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6a474fe4-053f-4fa7-8e39-f355af7fdada</Key>
      <Caption>#GoogleAnalytics_SettingsTabName</Caption>
      <Alias>googleAnalyticsSettingsTabName</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>