<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8be77b92-25af-416d-a932-bf82eb4a0efa" Alias="pageComposition" Level="4">
  <Info>
    <Name>#Compositions_PageCompositionName</Name>
    <Icon>icon-page-restricted color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Marker Interface for Pages that will show on Front-End</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions/Model+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>