<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c50351c-c4bd-4b48-a72f-8f1fd9e3046e" Alias="seoContentComposition" Level="3">
  <Info>
    <Name>#Seo_CompositionName</Name>
    <Icon>icon-invoice color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b6fc9a5-5b04-4b0b-920d-ee6132cfeb24</Key>
      <Name>#Seo_MetaDescriptionPropertyName</Name>
      <Alias>metaDescription</Alias>
      <Definition>414467aa-b131-4d27-98e8-1b19c472b715</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Seo_MetaDescriptionPropertyDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabsSeo">#Tabs_Seo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>407e1b23-2437-42dc-82a6-7166590a3bef</Key>
      <Name>#Seo_MetaKeywordsPropertyName</Name>
      <Alias>metaKeywords</Alias>
      <Definition>01cc666f-d90e-495e-bb45-415291346f74</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Seo_MetaKeywordsPropertyDescription]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tabsSeo">#Tabs_Seo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea90c502-2a42-46c4-83ab-867267e21a39</Key>
      <Name>#Seo_MetaTitlePropertyName</Name>
      <Alias>metaTitle</Alias>
      <Definition>d46dc145-0133-4817-b0c9-f5bc867b15ab</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Seo_MetaTitlePropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabsSeo">#Tabs_Seo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12880b17-3538-45bf-b000-0b5c9c117d6c</Key>
      <Name>#Seo_SocialShareImagePropertyName</Name>
      <Alias>socialShareImage</Alias>
      <Definition>27d99c05-1c90-4854-bf24-ab704b5bc1ae</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Seo_SocialShareImagePropertyDescription]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="tabsSeo">#Tabs_Seo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>11975fbb-8310-4d3a-9f30-81a0a9a8d291</Key>
      <Caption>#Tabs_Seo</Caption>
      <Alias>tabsSeo</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>