<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6aad8fe-8b12-4854-baa3-eadb73a01100" Alias="siteSettingsDocument" Level="2">
  <Info>
    <Name>#SiteSettings_DocumentName</Name>
    <Icon>icon-umb-settings color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core</Folder>
    <Compositions>
      <Composition Key="24e230da-1df7-46d3-a6c9-fc1104eb8be9">googleAnalyticsDocument</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f1ab5189-11ad-4233-81c5-9279023f6650</Key>
      <Name>#SiteSettings_DefaultWebsiteImagePropertyName</Name>
      <Alias>defaultWebsiteImage</Alias>
      <Definition>e5a16c8b-e133-4b28-956f-11e4ca022a28</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SiteSettings_DefaultWebsiteImagePropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettingsContentSettingsTabName">#SiteSettings_ContentSettingsTabName</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ae41e4ae-8576-43a6-914a-43a57573d9a8</Key>
      <Caption>#SiteSettings_ContentSettingsTabName</Caption>
      <Alias>siteSettingsContentSettingsTabName</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>