<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a0f758-108b-46b1-b37a-5b889e3da3e3" Alias="siteMapComposition" Level="3">
  <Info>
    <Name>#SiteMap_CompositionName</Name>
    <Icon>icon-map color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8284093a-3d0d-42ef-afc3-70bafba9880b</Key>
      <Name>#SiteMap_ChangeFrequencyPropertyName</Name>
      <Alias>changeFrequency</Alias>
      <Definition>c892cd36-095e-4dd6-9eb9-90018eb2304c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SiteMap_ChangeFrequencyPropertyDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabsSiteMap">#Tabs_SiteMap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f96dd7c-cdce-4f8d-886f-db8a4024fd35</Key>
      <Name>#SiteMap_HideFromSiteMapPropertyName</Name>
      <Alias>hideFromSiteMap</Alias>
      <Definition>1d815d23-3d11-4c55-9ccd-1d8e9677880e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SiteMap_HideFromSiteMapPropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabsSiteMap">#Tabs_SiteMap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddd1f293-2947-492a-a2c6-9201d18309c7</Key>
      <Name>#SiteMap_RelativeSeoPriorityPropertyName</Name>
      <Alias>relativeSeoPriority</Alias>
      <Definition>9a357edc-391b-4055-913d-34492775c605</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SiteMap_RelativeSeoPriorityPropertyDescription]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tabsSiteMap">#Tabs_SiteMap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a92bca7-18fb-492a-a12b-26cb14ff0ffa</Key>
      <Caption>#Tabs_SiteMap</Caption>
      <Alias>tabsSiteMap</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>