<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61cb047f-e48a-4b47-b50a-2552686d1f86" Alias="socialMediaLinkElement" Level="3">
  <Info>
    <Name>#SocialMediaLink_ElementName</Name>
    <Icon>icon-megaphone color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9af13e54-5c3a-403e-a439-ab255c4a89a6</Key>
      <Name>#SocialMediaLink_PageUrlPropertyName</Name>
      <Alias>pageUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SocialMediaLink_PageUrlPropertyDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabsContent">#Tabs_Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#Validation_Required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5aa44b5e-bd7f-4655-9ec1-b152147c8851</Key>
      <Name>#SocialMediaLink_PlatformPropertyName</Name>
      <Alias>platform</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SocialMediaLink_PlatformPropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabsContent">#Tabs_Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#Validation_Required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a8dd4f4-dc74-435d-9fdf-7eb67d013354</Key>
      <Name>#SocialMediaLink_PlatformIconPropertyName</Name>
      <Alias>platformIcon</Alias>
      <Definition>0f2f04a6-1906-4e5e-8170-f24c3270de22</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#SocialMediaLink_PlatformIconPropertyDescription]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tabsContent">#Tabs_Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#Validation_Required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f69ab6b-7a87-4048-9590-6f96d939ca29</Key>
      <Caption>#Tabs_Content</Caption>
      <Alias>tabsContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>