<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a1c4f2a-8bb7-4cd3-86d1-1a1c8edd85a8" Alias="website" Level="2">
  <Info>
    <Name>#Website_DocumentName</Name>
    <Icon>icon-globe-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core</Folder>
    <Compositions>
      <Composition Key="0c50351c-c4bd-4b48-a72f-8f1fd9e3046e">seoContentComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>089d2b99-1d23-42e4-a743-fdfe663477fc</Key>
      <Name>#Website_SocialMediaLinksPropertyName</Name>
      <Alias>socialMediaLinks</Alias>
      <Definition>0d2a6ea7-09e1-4eb1-9f80-a3317ce0c7ec</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Website_SocialMediaLinksPropertyDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tabsHeader">#Tabs_Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b98b462-2056-488a-9aa0-4cb329910d16</Key>
      <Name>#Website_WebsiteLogoPropertyName</Name>
      <Alias>websiteLogo</Alias>
      <Definition>8750409d-6bee-410e-af63-1bf9eb2bc367</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Website_WebsiteLogoPropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabsHeader">#Tabs_Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76e3a651-addb-446a-992b-348515427e2d</Key>
      <Caption>#Tabs_Header</Caption>
      <Alias>tabsHeader</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>