<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0249aab0-a774-4b87-a06f-d14d506780bc" Alias="paginatedListingComposition" Level="3">
  <Info>
    <Name>#PaginatedListing_CompositionName</Name>
    <Icon>icon-book-alt-2 color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Core/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23addff1-f48b-4f39-9f2a-cd605e4a0da9</Key>
      <Name>#PaginatedList_NumberOfItemsPerPagePropertyName</Name>
      <Alias>numberOfItemsPerPage</Alias>
      <Definition>2d7ac050-9fd6-4d76-a65b-0633cbd43d66</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#PaginatedList_NumberOfItemsPerPagePropertyDescription]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabsPagination">#Tabs_Pagination</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08422634-35de-48ea-8373-55fe51f79750</Key>
      <Caption>#Tabs_Pagination</Caption>
      <Alias>tabsPagination</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>