<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bdd51e7-0d0f-4adc-a552-c9a2ff7b6ccc" Alias="protectedContentComposition" Level="4">
	<Info>
		<Name>#Compositions_ProtectedContent</Name>
		<Icon>icon-lock color-red</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<IsListView>False</IsListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Core/Compositions/Model+Types</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties />
	<Tabs />
</ContentType>