<?xml version="1.0" encoding="utf-8"?>
<Content Key="f05e223d-8b15-4aaf-a733-534b63c19af3" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettingsDocument</ContentType>
    <CreateDate>2024-10-17T18:29:17</CreateDate>
    <NodeName Default="Site Settings">
      <Name Culture="ar">اعدادات الموقع</Name>
      <Name Culture="en-us">Site Settings</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <analyticsTrackingCode>
      <Value><![CDATA[]]></Value>
    </analyticsTrackingCode>
    <defaultWebsiteImage>
      <Value><![CDATA[[]]]></Value>
    </defaultWebsiteImage>
  </Properties>
</Content>