<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d4da890c-0000-0000-0000-000000000000" Alias="/ar">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>ar</Language>
    <Root Key="41baa089-472e-4d97-bd33-d5a83432904b">/Ministry of Health &amp; People</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>