<?xml version="1.0" encoding="utf-8"?>
<DataType Key="746b9e86-292d-4fe3-b418-ee7808415259" Alias="Common - 100 Text Area" Level="1">
  <Info>
    <Name>Common - 100 Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100,
  "Rows": null
}]]></Config>
</DataType>