<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84241244-9e72-4a45-ab90-08da4d179fab" Alias="FooterNavigation _ Show In Footer" Level="1">
  <Info>
    <Name>FooterNavigation _ Show In Footer</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "labelOff": "Disappear (\u064A\u062E\u062A\u0641\u064A)",
  "labelOn": "Appear (\u064A\u0638\u0647\u0631)",
  "showLabels": true
}]]></Config>
</DataType>