<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92897bc6-a5f3-4ffe-ae27-f2e7e33dda49" Alias="MenuNavigation - Show In Header" Level="1">
  <Info>
    <Name>MenuNavigation - Show In Header</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "labelOff": "Disappear (\u064A\u062E\u062A\u0641\u064A)",
  "labelOn": "Appear (\u064A\u0638\u0647\u0631)",
  "showLabels": true
}]]></Config>
</DataType>