<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8750409d-6bee-410e-af63-1bf9eb2bc367" Alias="Website - Website Logo [MediaPicker]" Level="1">
  <Info>
    <Name>Website - Website Logo [MediaPicker]</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "LogoWide",
      "height": 150,
      "label": "Wide",
      "width": 300
    },
    {
      "alias": "LogoSquare",
      "height": 250,
      "label": "Square",
      "width": 250
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>