<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d2a6ea7-09e1-4eb1-9f80-a3317ce0c7ec" Alias="Website - Social Media Links [Blocklist]" Level="1">
  <Info>
    <Name>Website - Social Media Links [Blocklist]</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "61cb047f-e48a-4b47-b50a-2552686d1f86",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{platform}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>