<?xml version="1.0" encoding="utf-8"?>
<DataType Key="414467aa-b131-4d27-98e8-1b19c472b715" Alias="Common - 255 Text Area" Level="1">
  <Info>
    <Name>Common - 255 Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 255,
  "Rows": null
}]]></Config>
</DataType>