<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d46dc145-0133-4817-b0c9-f5bc867b15ab" Alias="Common - 100 Text String" Level="1">
  <Info>
    <Name>Common - 100 Text String</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>