<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25fbb26f-99a5-4c2e-9e04-32db14f7feb5" Alias="Common - 255 Text String" Level="1">
  <Info>
    <Name>Common - 255 Text String</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 255
}]]></Config>
</DataType>