<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d7ac050-9fd6-4d76-a65b-0633cbd43d66" Alias="Paginated List - Number of Items Per Page" Level="1">
  <Info>
    <Name>Paginated List - Number of Items Per Page</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 10,
  "max": 20
}]]></Config>
</DataType>