<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01cc666f-d90e-495e-bb45-415291346f74" Alias="SEO - Meta Keywords [JsonTags]" Level="1">
  <Info>
    <Name>SEO - Meta Keywords [JsonTags]</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "SeoTags",
  "StorageType": 1
}]]></Config>
</DataType>