<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27d99c05-1c90-4854-bf24-ab704b5bc1ae" Alias="SEO - Social Share Image [MediaPicker]" Level="1">
  <Info>
    <Name>SEO - Social Share Image [MediaPicker]</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "SmallSquare",
      "height": 100,
      "label": "Small 1:1",
      "width": 100
    },
    {
      "alias": "MediumSquare",
      "height": 250,
      "label": "Medium 1:1",
      "width": 250
    },
    {
      "alias": "LargeSquare",
      "height": 500,
      "label": "Large 1:1",
      "width": 500
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>