<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a357edc-391b-4055-913d-34492775c605" Alias="SiteMap - Relative Seo Priority [Slider]" Level="1">
  <Info>
    <Name>SiteMap - Relative Seo Priority [Slider]</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>