<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c892cd36-095e-4dd6-9eb9-90018eb2304c" Alias="SiteMap - Change Frequency [Dropdown]" Level="1">
  <Info>
    <Name>SiteMap - Change Frequency [Dropdown]</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Always"
    },
    {
      "id": 2,
      "value": "Hourly"
    },
    {
      "id": 3,
      "value": "Daily"
    },
    {
      "id": 4,
      "value": "Weekly"
    },
    {
      "id": 5,
      "value": "Monthly"
    },
    {
      "id": 6,
      "value": "Yearly"
    },
    {
      "id": 7,
      "value": "Never"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>