<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d815d23-3d11-4c55-9ccd-1d8e9677880e" Alias="SiteMap - Should Show in Site Map [Toggle]" Level="1">
  <Info>
    <Name>SiteMap - Should Show in Site Map [Toggle]</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>