<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f2f04a6-1906-4e5e-8170-f24c3270de22" Alias="Social Media Link - Platform Icon" Level="1">
  <Info>
    <Name>Social Media Link - Platform Icon</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "SocialMediaIconSmall",
      "height": 50,
      "label": "Small",
      "width": 50
    },
    {
      "alias": "SocialMediaIconMedium",
      "height": 100,
      "label": "Medium",
      "width": 100
    },
    {
      "alias": "SocialMediaIconLarge",
      "height": 200,
      "label": "Large",
      "width": 200
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>